/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.topnav{
    background-color: #333;
    overflow: hidden;
    position: sticky;
    width: 100%;

}
.topnav h1{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
.topnav a {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
   
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #4caf50;
    color: white;
}
body{
    background-color: rgb(41, 38, 38);
}
.footer {
    background-color: #333;
    border-top: #333 solid 20px;
    border-bottom: 10px solid #333;
    color: white;
    width: 100%;
    position: static;
    bottom: 0%;
    z-index: 5;
    padding-bottom: 2rem;
  }
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer ul a {
    padding: 2px;
    color: white;
    text-decoration: none;
  }
  .footer ul a:hover {
    color: #cecece;
  }
  .footer .footerContent {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin: auto;
  }
  .footer .footerContent .last {
    text-align: right;
    flex: 2;
  }
  .footer .footerContent .footerFlex {
    display: flex;
    flex-direction: column;
    width: 10rem;
  }
  .footer .footerContent .footerFlex p {
    border-bottom: 2px solid white;
    width: 75%;
  }
     h2 {
      position: relative;
      padding: 10px;
      font-size: 30px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      
  }
    p {
      text-align: center;
      color: white;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
  }
  h3 {
      font-family: Arial, Helvetica, sans-serif;
      position: relative;
      padding: 10px;
      font-size: 30px;    
      color: white;  
  }
  ul li{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
  }
  ul li a:visited{
      color: white;
  }

.content {
    overflow: scroll;
}
  
